
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

/* Resets */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
   --primary-text-color:#183b56;
   --secondary-text-color:#577592;
   --accent-color:#2294ed;
   --accent-color-dark:#1d69a3;
   --padding-inline-section:20px;

}
body{
    font-family: 'Poppins',sans-serif;
    color: var(--primary-text-color);
}
h1{
   font-size: 3rem; 
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-family: 'Roboto',sans-serif;
    font: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}
a{
    text-decoration: none;
    display: inline block;
}
ul{
    list-style: none;
}
/* Utility class */
.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}
.container{
    max-width: 1180px;
    margin-inline:auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden ;
}
.flex{
    display: flex;
    align-items: center;
}
.hover-link{
    color: var(--primary-text-color);
}
.hover-link:hover{
 color:var(--accent-color) ;
 transition:0.2s ease-out ;
}
.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition:0.2s ease-out ;
    text-align: center;
}
.primary-button:hover{
    background-color:var(--accent-color-dark) ;
}
.secondary-button{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    transition:0.2s ease-out;
}
.secondary-button:hover{
    background-color:var(--accent-color) ;
    color: var(--accent-color);
}

/* Top banner */
.top-banner{
background-size: 300px;
background-image: url('./assest/asset\ 32.png');
background-color:#e74694 ;
background-repeat: repeat;
}
.Banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
}
/* Navigation Bar */
.main-nav{
    margin-top: 20px;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
}
.company-logo img{
    width: 200px;
}
.nav-links{
    flex-basis:730px;
}
.nav-links ul{
    justify-content:end;
    gap:40px;
}
.nav-toggler{
    display: hidden;
}
/* Header */
.header{
    padding: 50px var(--padding-inline-section) 0;

}
.header-section{
    justify-content: center;
    gap: 50px;
}
.header-left{
    max-width: 40vh;
}
.header-left h1{
    margin: 20px;
}
.header-left p{
    margin-bottom: 20px;
}
.get-started-btn{
   margin-top:20px ; 
}
.header-right img{
   width: 100%; 
}
.companies-header{
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);
}
.logos{
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}
.logo{
    height: 40px;
}
/* Features section */
.features-section{
    padding: 80px var(--padding-inline-section) 0;
    margin: 20px;
    background-image: url(assest/asset\ 34.svg);
    background-repeat: no-repeat; 
    background-position: center;
}
.features-header{
    text-align: center;
    margin-bottom: 40px;
}
.features-header h2{
    margin-bottom: 20px;

}
.features-area{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}.features-card{
    flex-direction:column ;
    gap: 20px;
    max-width:30% ;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
}
/* Big feature Section */
.big-feature-section{
    padding: 30px var(--padding-inline-section) 0;
}
.big-feature-container{
    gap:30px ;
}
.feature-img img{
    width: 100%;

}
.feature-desc{
    flex-direction: column;
    align-items: flex-start;
}

.example-header{
    text-align: center;
    padding: 80px 80px var(--padding-inline-section);
}
.example-heading-text{
    margin-top: 20px;
    margin-bottom: 20px;
}
.examples-area{
    justify-content: space-between;
    margin-block:20px;
    flex-wrap: wrap;
}

.examples-card{
    width: 23%;
    position: relative;
    height: 300px;
    background: black;
    background-image:linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)),url(assest/asset\ 36.jpeg);
    background-size: cover;
    transition: 0.2s ease-out;
}
.examples-card:hover{
    box-shadow:0 0 10px #888;
}
.card-text{
    position: absolute;
    bottom: 20px;
    left:20px ;
    right: 20px; 
    color: white;
}
/* CTA section */
.Cta-section{
    padding: 120px var(--padding-inline-section);
    background-color: #183b56;
}
.cta-section-container{
    flex-direction: column;
    gap: 20px;
    color: white;
}
.cta-section-container p{
    color: white;
    margin-top: 20px;
}
/* Footer */
.footer{
    padding: 80px;
    background-color: #ebf2fa;
}
.footer-container{
    align-items: flex-start;
    justify-content: space-between;
}
.link-col{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
/* Sub footer */
.subfooter{
  background-color: #b9cde4;  
  padding: var(--padding-inline-section);
}
.subfooter-container{
    justify-content:center;
    gap: 30px;
    flex-wrap: wrap;

}
